body { 
  margin:0; 
  padding:0;
}

#map { 
    position: fixed;
    top:65px;
    height: 100%;
    width: 100%; 
}

@media (min-width: 768px) {
  .min-width-275-md {
    min-width: 275px;
  }
}

max-width-375-md {
  max-width: 375px;
}

.col-md-2 {
    top: 7px;
    left: 7px;
    min-height: 900px;
    min-width: 15em;
    border-style: solid;
    border-width: 0px;
    background-color: #f8f8f8;
}

hr.divider {
    margin-top: 15px;
    margin-bottom: 8px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;

}

h6.text-left {
    margin-top: 0px;
    margin-bottom: 10px;
}

p.text-left{
  margin-right: 10px;
}

.col-sm-10 {
    min-height: 900px;
    max-height: 1200px;
}

#info-pane {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#legend {
  padding-top: 10px;
  padding-left: 10px;
}

#basemaps-wrapper {
    position: relative;
    width: 215px;
    z-index: 400;
    padding-left: 10px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #basemaps {
    margin-bottom: 1px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #pool {
    position: relative;
    width: 215px;
    z-index: 1000;
    /*background: #BCDAED;*/
    padding-left: 10px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #pool select {
    margin-bottom: 10px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #status {
    position: relative;
    width: 215px;
    z-index: 1000;
    padding-left: 10px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #constStatus select {
    margin-bottom: 1px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #congress {
    position: relative;
    width: 215px;
    z-index: 1000;
    padding-left: 10px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  #congressDist select {
    margin-bottom: 1px;
    font-family: "Avenir Next W01","Avenir Next", Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }